<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>698545896521-d0h8r9q7tcrpjjqj5ahvs8udvekegv9q.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.698545896521-d0h8r9q7tcrpjjqj5ahvs8udvekegv9q</string>
	<key>API_KEY</key>
	<string>AIzaSyAwa7QsDj9vQ2AhHhXsVY4XowkqhWIY-gI</string>
	<key>GCM_SENDER_ID</key>
	<string>698545896521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>allhediye.com.As-k-So-zleri</string>
	<key>PROJECT_ID</key>
	<string>love-words-5d677</string>
	<key>STORAGE_BUCKET</key>
	<string>love-words-5d677.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:698545896521:ios:86cbd3fd84f7d06a1c1398</string>
</dict>
</plist>